footer {
	padding:$defaultgap 0 $defaultgap 0;
	background:$border;

	border-top:4px solid darken($border,15%);
	text-align:center;
	display:block;
	clear:both;
	color:lighten($border,30%);
}
footer [class*="col-"] {
	text-align:center;
	@media screen and (min-width:$bptablet) {
      text-align:left;
	}
}
footer h3 {
	font-size:1.25em;
}
footer a {
	color:lighten($border,40%);
}
footer ul {


}
footer li {
	margin:$defaultgap * 1.5 0;
	font-size:0.9em;
}
footer hr {
	border:0;
	height:1px;
	border-top:1px dotted lighten($border,10%);
	display:block;
}
a.logo-footer {
	display:block;
	width:220px;
	height:140px;
	margin:$defaultgap * 2 auto $defaultgap auto;
	text-align:center;
	background:url('../images/genielampblue.svg') no-repeat center center;
	@media screen and (min-width:$bptablet) {
	background:url('../images/genielampblue.svg') no-repeat center center;
	}
 }
 p.egenie {
 	font-size:1.25em;
 	font-weight:bold;
 	margin-bottom:$defaultgap;
 }
 footer .small {
 	font-size:0.75em;
 	line-height:1.2;
 }
 li.callback-footer a {

 }

li.callback-footer, li.contact-footer {
 	position:relative;
 	@media screen and (min-width:$bptablet) {
 	display:block;
	padding:$defaultgap * 0.5 0 $defaultgap $defaultgap * 3;
}
	@media screen and (min-width:$bpdesktop) {
	padding:$defaultgap * 1.2 0 0 $defaultgap * 3;
}
}
 footer .tel {
 	margin-bottom:0;
 }

/*
 li.callback-footer:before, li.contact-footer:before {
 	position:absolute;
 	content:"";
 	width:2em;
 	height:2em;
 	@include border-radius(4em);
 	top:10px;
 	left:8px;
 	@include border-radius(6em);
 	background:lighten($border,10%);
 	@media screen and (min-width:$bptablet) {
	top:5px;
	left:-4px;
 	width:3em;
 	height:3em;
 	@include border-radius(6em);
 	 	}
 }
  li.callback-footer:after, li.contact-footer:after  {
  	position:absolute;
  	top:16px;
  	left:14px;
  	font-size:0.75em;
  	font-style:italic;
  	@media screen and (min-width:$bptablet) {
    font-size:1em;
	top:17px;
	left:4px;
  	}
  }
 li.callback-footer:after {
 	content:"icon";
 	color:lighten($border,30%);
 }
 li.contact-footer:after {
 	content:"icon";
 	color:lighten($border,30%);
}
*/
p.tel-footer {
	font-size:1.5em;
}
