[class*="module-"] {
	background:$lightest;
	margin-bottom:$defaultgap;
	padding:$defaultgap;
	border:2px solid lighten($midgrey,20%);
	@include border-radius(5px);
  position:relative;
}

[class*="module-product"] {
		position:relative;
		text-align:center;
		padding:$defaultgap / 2;
		border:2px solid lighten($border,5%);
	@media screen and (min-width:$bptablet)  {

	}
	@media screen and (min-width:$bpdesktop)  {
		width:48.7%;
			float:left;
		width:48.2%;
		min-height:275px;
	}
}
.module-product-box:nth-child(even) {
	@media screen and (min-width:$bpdesktop)  {
  	margin-left:$defaultgap;
  }
}
.module-product-width-wrap {
	margin:0;
	padding:0;
	border:0;
	min-height:1px;
	background:transparent;
}


.module-product-testimonial {
	width:100%;
	line-height:1;
	min-height:100px;
	border:2px solid lighten($midgrey,20%);
}
.module-product-testimonial:before {
	background:none;
}


.module-product-width-wrap:nth-child(odd) {
   @media screen and (min-width:$bptablet)  {
	margin-left:$defaultgap;
  }
}


.module-product-testimonial p {
  font-size:2em;
  font-style:oblique;
  padding:$defaultgap * 2.25 0 $defaultgap / 4 0;
  position:relative;
  font-family:Georgia, 'Times New Roman', serif;
}
.module-product-testimonial p:before {
	background:none !important;
}
.module-product-testimonial p:before {
  position:absolute;
  content:"\201C";
  top:0px;
  left:40%;
  font-size:5em;
  color:$midgrey;
  font-family:Georgia, 'Times New Roman', serif;
  font-style:oblique;
  @media screen and (min-width:$bptablet)  {
  left:30%;
	}
  }
 p.name {
 	font-family:$fontstack;
 	font-size:1em;
 	font-style:normal;
 	text-align:left;
 	padding-top:0;
 }
  p.name:before {
  	display:none;

  }
 hr {
 	border:0;
 	height:1px;
 	border-bottom:1px solid lighten($border,20%);

 }
.module-box-howworks {
	background:lighten($price,20%);
	color:$lightest;
}
.module-filled {
	background:$price;
	color:$lightest;
	@media screen and (min-width:$bptablet)  {
	  min-height:7em;
	}
	@media screen and (min-width:$bpdesktop)  {
	  min-height:3em;
	}
}
.module-filled a {
	color:$lightest;
	font-weight:bold;
}
.module-apply {
	
	text-align:center;
		@media screen and (min-width:$bptablet)  {
		background:$callout;
		}

}

.module-apply h2 {
	font-size:1em;
}

.rpw {
	display:block;
	margin-top:-4px;
	font-size:0.65em;
}
.module-product-box h2 {
	font-size:1.25em;
	text-transform:uppercase;
	margin-top:$defaultgap;
	width:75%;

}
.module-product img {
	max-width:70%;
	height:100px;
	margin:$defaultgap / 2 auto;
}
[class*="price-"] {
	font-size:1em;
	font-weight:bold;
	color:$lightest;
	background:$price;
	border-right:2px solid darken($price,7%);
	border-bottom:2px solid darken($price,7%);
	border-left:2px solid darken($price,7%);
	margin:0 auto $defaultgap auto;
	padding:$defaultgap / 8 $defaultgap / 4;
	text-align:center;
	max-width:40%;
	@include border-radius(0 0 0.5em 0.5em);
	@media screen and (min-width:$bpmobilelarge)  {
	max-width:20%;
	}
	@media screen and (min-width:$bptablet)  {
	max-width:30%;
	}
	@media screen and (min-width:$bpdesktop)  {
	max-width:30%;
	}
}
[class*="price-"] p {
	margin-bottom:0;
}
.price-large {
	margin:0 auto $defaultgap auto;
	font-size:1.25em;
}
.filled {
	background:lighten($price,15%);
	color:$lightest;
}
.producttype {
	background:$lightest;
	color:$midgrey;
	@include border-radius( 0.5em 0.5em 0 0);
	border-top:2px solid lighten($midgrey,10%);
	border-right:2px solid lighten($midgrey,10%);
	border-left:2px solid lighten($midgrey,10%);
	font-size:0.75em;
	font-weight:bold;
	margin:$defaultgap / 2 auto 0 auto;
	padding:$defaultgap / 8 $defaultgap / 4;
	text-align:center;
	max-width:40%;
	@media screen and (min-width:$bpmobilelarge)  {
	max-width:20%;
	}
	@media screen and (min-width:$bptablet)  {
	max-width:30%;
	}
	@media screen and (min-width:$bpdesktop)  {
	max-width:30%;
	}
	}
.module-box .producttype {
	font-size:1.25em;
}
.specialprice {
	background:$specialprice;
	color:$lightest;
	border:2px solid darken($specialprice, 7%);
}
.normalprice {
	font-size:0.8em;
	font-weight:bold;
	position: absolute;
	right:0.8em;
	bottom:15em;
	@media screen and (min-width:$bptablet)  {
		bottom:9.1em;
	}
	@media screen and (min-width:$bpdesktop)  {
		bottom:12.1em;

	}
}
del {
	font-family:Georgia,Helvetica,sans-serif;
	font-style:oblique;
	font-size:1.25em;
	color:$price;
	font-weight:bold;
	display:block;
	margin-top:0.2em;
}
.wrapper-buttons {
	margin-top:$defaultgap / 4;
}
.full-width {
  width:100%;
}
[class*="step-"] {
	
	position:relative;
	margin-bottom:$defaultgap * 3;
	text-align:left;
    padding-bottom:$defaultgap;
    @media screen and (min-width:$bptablet)  {
	text-align:center;

    padding-bottom:$defaultgap * 4;
    min-height:10em;
    }
    @media screen and (min-width:$bpdesktop)  {
    min-height:9em;
    }
}
[class*="icon-step-"] h3 {
	font-size:1.25em;
	@media screen and (min-width:$bptablet)  {
	margin-bottom:$defaultgap * 1.5;
  }
}
[class*="step-"] h3 {
	margin-left: 60px;
		@media screen and (min-width:$bptablet)  {
margin-left:0;
}
}


[class*="tooltip-"] {
	background:$value;
	color:$lightest;
	}
.tooltip-help {
	position:absolute;
	content:"";
	right:$defaultgap / 2;
	top:$defaultgap;
	background:$value;
	width:26px;
	height:26px;
	@include border-radius(23px);
		@media screen and (min-width:$bptablet)  {
	right:2px;
	top:2px;
		}
}
.tooltip-help:before {
	position:absolute;
	content:"?";
	font-weight:Georgia;
	font-style:italic;
	color:$lightest;
	left:6px;
	top:1px;
	}
.tooltip-bubble {
	display:none;
	position:absolute;
	right:15px;
	top:23px;
	font-size:0.75em;
	font-weight:normal;
	z-index:10;
	width:94%;
	padding:$defaultgap;
	text-align:left;
	@include border-radius(0.5em);
	border:2px solid darken($value,15%);
	@media screen and (min-width:$bptablet)  {
			right:8px;
	top:8px;
	width:20em;
	}
}
.tooltip-bubble h6 {
	font-size:1.25em;
	font-weight:bold;
	margin-bottom:$defaultgap / 2;
}
.tooltipClose {

	position:absolute;
	top:-7px;
	right:-12px;
	background:$value;
	color:$lightest;
	width:2em;
	height:2em;
	padding-top:3px;
	padding-left:8px;
	@include border-radius(1em);
	border:2px solid darken($value,15%);
	cursor:pointer;
	@media screen and (min-width:$bptablet) and (max-width:$bptablet)  {
	top:-11px;
	right:-11px;
	}
}
.icon-step-1 .tooltip-bubble {
	@media screen and (min-width:$bptablet) and (max-width:$bpdesktop)  {
	left:90%;
	 }
	}
.icon-step-1 .tooltipClose {
	@media screen and (min-width:$bptablet) and (max-width:$bpdesktop)  {
	left:-12px;
	}
}

.module-product-box {
	min-height:330px;
	height:330px;
	overflow:hidden;
	padding:0;
	z-index:10000;
	@media screen and (min-width:$bptablet) and (min-width:$bpdesktop)  {
	transition:all 0.4s ease 0s;
	min-height:265px;
	height:265px;
	}
}

.module-product-box img {
	max-height:100px;
	z-index:-1;
}
.module-product-box:hover {
	border:2px solid lighten($border,30%);
	background:darken($lightest,2%);
	box-shadow: 0px 0px 5px 5px lighten($border,50%);
} 
.product-desc {
	position:relative;
	margin-top:0px;
	transition:all 0.4s ease 0s;
	//background:$border;
	background:rgba($border,.2);
	padding:$defaultgap / 4 0 $defaultgap / 4 0;
	z-index:500000 !important;
}

.module-product-box:hover .product-desc {
	@media screen and (min-width:$bptablet) and (min-width:$bpdesktop)  {
	margin-top:-90px;
	position:relative;
	z-index:500000 !important;
	background:rgba($border,.6);
  }
}


.usp p {
	margin-left:$defaultgap * 3;
	font-size:1em;
	font-weight:bold;
}
.usp .icon-callback {
	color:$price;
	background:$lightest;
	margin-top:$defaultgap;
}
.usp .icon-callback:before {
	color:$lightest;
	top:5px;
	left:5px;
	}
.usp .icon-callback:after {
	color:$price;
	left:20px;
	top:15px;
	}


