[class*="toggler-"] {
	display:block;
	width:100%;
	position:relative;
	background:$lightest;
	margin-bottom:$defaultgap / 2;
}
.toggler-faqs {
	border:1px solid $border;
	@include border-radius(5px 5px 5px 5px);
	padding:$defaultgap / 2 $defaultgap / 2  $defaultgap / 2 $defaultgap;
}


[class*="toggle-link"] {
	padding-left:$defaultgap * 1.25;
	display:block;
	width:100%;
	margin:0;
	color:$border;
	position:relative;
	&:hover {
		cursor:pointer;
	}
  }
[class*="toggle-link"]:before {

}



[class*="toggle-box"] {
	display:none;
}



[class*="toggle-link-"] {
	position:relative;
}
.toggle-link-benefits {
	position:relative;
}


.toggle-link-faqs {
	font-size:1.25em;
}
.toggle-link-benefits {
	font-size:1em;
}
/*
span {
	display:block;
	position:absolute;
width:16px;
	height:16px;
	left:0;
	top:0;
	border:1px solid $border;
	background:$border;
}
*/
/*
[class*="toggle-link-"] > span:after {
	position:absolute;
	content:"\e909";
	font-size:12px;
	color:$lightest;
	top:5px;
	left:1px;
}
*/