$fontstack:Arial,Helvetica,sans-serif;

$lightest:rgb(255,255,255);
$midgrey:rgb(150,150,150);
$fontdefault:rgb(102,102,102);

$darkgrey:rgb(60,60,60);

$value:rgb(249,152,38);

$success:rgb(228,175,34);
$price:rgb(68,170,61);

$callout:rgb(254,252,189);

$defaultgap:1em;
$border:rgb(20,140,199);
$bpmobile:320px;
$bpmobilelarge:480px;
$bptablet:768px;
$bpdesktop:1024px;

$secondary:rgb(195,214,0);
$support:rgb(0,117,101);
$products:rgb(213,118,60);

$scooters:rgb(172,0,174);

$button:rgb(150,150,150);

$error:rgb(203,21,21);

$specialprice:rgb(189,42,42);

